@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-air6:before {
	content: "\e000";
}
.flaticon-binary10:before {
	content: "\e001";
}
.flaticon-binary11:before {
	content: "\e002";
}
.flaticon-black401:before {
	content: "\e003";
}
.flaticon-chart59:before {
	content: "\e004";
}
.flaticon-computers13:before {
	content: "\e005";
}
.flaticon-magical2:before {
	content: "\e006";
}
.flaticon-magnifying-glass40:before {
	content: "\e007";
}
.flaticon-moon11:before {
	content: "\e008";
}
.flaticon-rocketship1:before {
	content: "\e009";
}
.flaticon-rockets2:before {
	content: "\e00a";
}
.flaticon-star129:before {
	content: "\e00b";
}
.flaticon-star153:before {
	content: "\e00c";
}
.flaticon-star182:before {
	content: "\e00d";
}
.flaticon-star87:before {
	content: "\e00e";
}
.flaticon-stars4:before {
	content: "\e00f";
}
.flaticon-subway1:before {
	content: "\e010";
}
.flaticon-vehicle83:before {
	content: "\e011";
}
